<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ssm.employee.dao.EmployeeInfoMapper">
	<resultMap type="employeeInfo" id="employeeMap" autoMapping="true">
		<result column="LOCATION_CODE" property="location.code"/>
		<result column="locName" property="location.name"/>
		<result column="siteName" property="site.name"/>
		<result column="SITE_CODE" property="site.code"/>
		<result column="workName" property="work.name"/>
		<result column="WORK_STATUS" property="work.code"/>
		<result column="DEPARTMENT_ID" property="department.id"/>
		<result column="departName" property="department.name"/>
		<result column="type" property="type.code"/>
		<result column="typeName" property="type.name"/>
		<result column="COMPANY_ID" property="company.id"/>
		<result column="compName" property="company.name"/>
		<result column="VISA_TYPE" property="visaType.code"/>
		<result column="JAPANESE_LEVEL" property="japanLevel.code"/>
		<result column="levelName" property="japanLevel.name"/>
	</resultMap>
	<select id="findEmps" resultMap="employeeMap">
SELECT  e.EID,MAIL_ADDRESS,e.NAME,NAME_CN,NAME_KANJI,NAME_KANA,ENGLISH_NAME,BIRTHDAY,
GENDER,e.TEL_NO,MOBILE_NO,EMERGENCY_TEL_NO,LOCATION_CODE,SITE_CODE,s.name siteName,w.name workname,
START_DATE,END_DATE,WORK_STATUS,DEPARTMENT_ID,d.name departName,e.MANAGER_EID,e.TYPE,t.name typeName,COMPANY_ID,c.name companyName,
YEARS_AT_JAPAN,PASSPORT_FLAG,PASSPORT_EXPIRE_DATE,VISA_FLAG,VISA_TYPE,VISA_EXPIRE_DATE,
JAPANESE_LEVEL,REENTRY_LIMITED_DATE,BILLABLE_FLAG,
MANAGER_FLAG,r.ROLE_CODE,rcode.name,
e.INS_USER_ID,e.INS_TIMESTAMP,e.UPD_USER_ID,e.UPD_TIMESTAMP
FROM employee_info e
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '0010') s ON s.CODE = e.SITE_CODE
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '0050') t ON t.code = e.type
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '1090') w ON w.code = e.WORK_STATUS
LEFT JOIN company_m c ON c.ID = e.COMPANY_ID
LEFT JOIN (SELECT ID, NAME, MANAGER_EID,TYPE,PARENT_DEPARTMENT_ID FROM department_m) d ON d.id = e.DEPARTMENT_ID
LEFT JOIN (SELECT EID, ROLE_CODE FROM emp_role_info) r ON r.eid = e.EID
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '0040') rcode ON rcode.code = r.ROLE_CODE
INNER JOIN emp_job_info j ON j.EID = e.EID
<where>
		<if test="emp.eid != null and  emp.eid !='' ">
			and e.eid = #{emp.eid}
		</if>
		<if test="emp.name != null and  emp.name !='' ">
			<!--  and e.name like #{emp.ename}-->
			and e.name like '%${emp.name}%'
		</if>
		<if test="emp.site.code != null and emp.site.code!=''">
			and e.SITE_CODE = #{emp.site.code}
		</if>
		<if test="startDateFrom!=null and startDateFrom!=''">
			and START_DATE >= #{startDateFrom}
		</if>
		<if test="startDateTo!=null and startDateTo!=''">
			and START_DATE &lt;= #{startDateTo}
		</if>
		<if test="postCode != null and postCode !=''">
			and JOB_POSITION_CODE = #{postCode}
		</if>
</where>
	</select>
	<select id="findEmpByEid" resultMap="employeeMap">
	SELECT e.EID,MAIL_ADDRESS,e.NAME,NAME_CN,NAME_KANJI,NAME_KANA,ENGLISH_NAME,BIRTHDAY, GENDER,e.TEL_NO,MOBILE_NO,EMERGENCY_TEL_NO,
LOCATION_CODE,SITE_CODE,s.name siteName, START_DATE,END_DATE,WORK_STATUS,w.name workname,DEPARTMENT_ID,d.name departName,
e.MANAGER_EID,e.TYPE,t.name typeName,COMPANY_ID,c.name companyName, YEARS_AT_JAPAN,PASSPORT_FLAG,
PASSPORT_EXPIRE_DATE,VISA_FLAG,VISA_TYPE,VISA_EXPIRE_DATE, JAPANESE_LEVEL,REENTRY_LIMITED_DATE,BILLABLE_FLAG,
 MANAGER_FLAG,r.ROLE_CODE,rcode.name rolename, e.INS_USER_ID,e.INS_TIMESTAMP,e.UPD_USER_ID,e.UPD_TIMESTAMP 
FROM employee_info e 
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '0010') s ON s.CODE = e.SITE_CODE 
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '0050') t ON t.code = e.type 
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '1090') w ON w.code = e.WORK_STATUS 
LEFT JOIN company_m c ON c.ID = e.COMPANY_ID 
LEFT JOIN (SELECT ID, NAME, MANAGER_EID,TYPE,PARENT_DEPARTMENT_ID FROM department_m) d ON d.id = e.DEPARTMENT_ID 
LEFT JOIN (SELECT EID, ROLE_CODE FROM emp_role_info) r ON r.eid = e.EID 
INNER JOIN (SELECT CATEGORY_CODE, CODE,NAME FROM cd_master_m WHERE CATEGORY_CODE = '0040') rcode ON rcode.code = r.ROLE_CODE 
where e.eid = #{eid}
	</select>
	
	<update id="updateEmp" parameterType="employeeInfo">
		update employee_info 
		<set>
			<if test="mailAddress !=null and mailAddress != ''">
				MAIL_ADDRESS = #{mailAddress},
			</if>
			<if test="nameCn !=null and nameCn !=''">
			   NAME_CN = #{nameCn},
			</if>
			<if test="name !=null and name!=''">
				NAME = #{name},
			</if>
			<if test="nameKanji != null">
				NAME_KANJI = #{nameKanji},
			</if>
			<if test="birthday !=null and birthday != ''">
				BIRTHDAY = #{birthday},
			</if>
			<if test="birthday == ''">
				BIRTHDAY = NULL,
			</if>
			<if test="location.code != null">
				LOCATION_CODE = #{location.code},
			</if>
			<if test="site.code !=null and site.code != ''">
				SITE_CODE = #{site.code},
			</if>
			<if test="gender!=null">
			    gender = #{gender},
			</if>
		</set>
		where eid = #{eid}
	</update>
</mapper>