<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.employee.dao.ResourceMapper">

	 <select id="findResources" resultType="EmployeeInfo">
	 select eid ,name_cn ,name_kanji  from employee_info ein
	 </select>

</mapper>